.card_img {
  height: 209px;
}
.card-body {
  padding-left: 50px;
}
.btn_card {
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 35px;
  font-weight: bold;
  color: white;
  top: 65px;
  border-radius: 50%;
  border: none;
}
